body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e2dbbe;
}

header {
  background-color: #188fa7;
  padding: 10px;
  color: white;
  text-align: center;
}

header nav a {
  text-decoration: none;
  padding: 10px;
  color: white;
  margin: 0 10px;
}

header nav a:hover {
  color: #188fa7;
  background-color: white;
  border-radius: 5px;
}

#sobre-mim {
  text-align: left;
  padding: 20px;
}

#sobre-mim img {
  border-radius: 50%;
  width: 150px;
}

/* Estilos para as listas */
ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

#sobre-mim {
  background-color: #ffffff;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#contato {
  background-color: #ffffff;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 18px;
}

#contato ul li a {
  color: #188fa7;
}

#habilidades {
  font-size: 18px;
  background-color: #ffffff;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#habilidades ul li a {
  color: #2575fc;
}

#experiencia {
  font-size: 18px;
  background-color: #ffffff;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#experiencia ul li a {
  color: #2575fc;
}

#educacao {
  font-size: 18px;
  background-color: #ffffff;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#educacao ul li a {
  color: #2575fc;
}

.foto-interativa {
  width: 150px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.foto-interativa:hover {
  transform: scale(1.2);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border: 2px solid #188fa7; 
}

.main-content {
text-align: left;
background-color: #ffffff; 
border-radius: 10px; 
padding: 20px; 
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
margin: 20px; 
}

.imagem-quadrada {
width: 150px; 
height: 150px; 
object-fit: cover; 
border-radius: 10px; 
border: 5px solid #9dbbae; 
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
